{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>About Us </h1>

<p>
MIT, Aurangabad is associated with Red Hat India as a Red Hat International Training partner since 2006. It is journey of more than 12 years been ably supported, mentor and guided by Prof. B.N. Kshirsagar and his dedicated team.The center has trained more than 2000 candidates, many of them are doing exceptionally well in their respective field of work, that provide great sense of satisfaction being an academic institution. We teach basic certification to advance certification courses in MIT Red Hat Center. We can provide trainers for corporate training in the required fields.
We have three Red Hat Academies under this center for the students:
  <ul>
  <li> Marathwada Institute of Technology, Aurangabad </li>
<li> Maharashtra Institute of Technology, Aurangabad and </li>
  <li> MIT CIDCO, Aurangabad </li>
  </ul>
Through these academies students are benefited in many aspects like skill development, job opportunities and industrial knowledge.</p>
</div>>
{% endblock %}

